/* Change selon le mode */


/* Ne change pas selon le mode */

.nav-button {
    -fx-background-color: transparent;
    -fx-font-size: 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.lightmode-button {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.lightmode-button:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.delimiter .line {
	-fx-border-width : 0 0 1 0;
	-fx-border-color : grey;
}

.addButton {
	-fx-background-color : rgb(68, 120, 89);
	-fx-opacity : 0.5;
    -fx-font-size: 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-text-fill : rgb(144, 232, 179);
}


.addButton:pressed {
	-fx-opacity : 1;
}

.delButton {
	-fx-background-color : rgb(191, 57, 48);
	-fx-opacity : 0.5;
    -fx-font-size: 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-text-fill : rgb(255, 132, 122);
}

.delButton:pressed {
	-fx-opacity : 1;
}

.center-content {
    -fx-background-radius:8;
}

.tableau,
.table-view .column-header-background .filler,
.tableau .column-header-background,
.tableau .column-header {
	-fx-background-color : transparent;
}

.tableau .table-row-cell:empty,
.tableau .table-cell {
    -fx-border-color: transparent;
}

.tableau .table-row-cell {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #a0a0a0;
}

.tableau .cell {
    -fx-alignment:center;
    -fx-background-color:transparent;
}

.tableau .virtual-flow .scroll-bar:vertical .track,
.tableau .virtual-flow .scroll-bar:vertical .track-background,
.tableau .virtual-flow .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-background-radius: 5;
}

.tableau .virtual-flow .scroll-bar .increment-button,
.tableau .virtual-flow .scroll-bar .decrement-button {
	-fx-opacity : 0;
    -fx-padding: 2;
}

.tableau .check-box .box {
	-fx-background-color : transparent;
	-fx-border-color : grey;
	-fx-border-radius: 5;
}

.tableau .button {
	-fx-background-color : transparent;
	-fx-border-radius: 5;
    -fx-cursor: hand;
}

.tableau .button:pressed {
	-fx-background-color : grey;
}