.background {
	-fx-background-color: #1e1e26;
}

.background-light {
    -fx-background-color: #2c2c37;
}

.label {
    -fx-text-fill: white;
}

.nav-button:selected {
    -fx-text-fill: white;
}

.tableau .cell {
    -fx-text-fill: white;
}

.tableau .column-header {
	-fx-text-fill : white;
}

.tableau .column-header .label {
	-fx-text-fill : white;
}

.tableau .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: grey;
}

.tableau .check-box:selected .mark {
    -fx-background-color: white;
}

.tableau .button {
	-fx-border-color : white;
	-fx-text-fill : white;
}