.background {
	-fx-background-color: white;
}

.background-light {
    -fx-background-color: #e0e0e0;
}

.label {
    -fx-text-fill: black;
}


.nav-button:selected {
    -fx-text-fill: black;
}

.tableau .cell {
    -fx-text-fill: black;
}

.tableau .column-header {
	-fx-text-fill : black;
}

.tableau .column-header .label {
	-fx-text-fill : black;
}

.tableau .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: grey;
}

.tableau .check-box:selected .mark {
    -fx-background-color: black;
}

.tableau .button {
	-fx-border-color : black;
	-fx-text-fill : black;
}